body {
  background-color: #000000;
  color: #FFFFFF;
}
#mwt_mwt_slider_scroll
{
	top: 0;
	left:-100px;
	width:100px;
	position:fixed;
	z-index:9999;
}

#mwt_slider_content{
	background:WHITE;
	text-align:center;
	padding-top:0px;
}

#mwt_fb_tab {
	position:absolute;
	top:20px;
	right:-24px;
	width:24px;
	background:#3c5a98;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	padding:9px 0;

	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}
#mwt_fb_tab span {
	display:block;
	height:12px;
	padding:1px 0;
	line-height:6px;
	text-transform:uppercase;
	font-size:12px;
}
#outbox{
    -moz-column-count: 6;
    -moz-column-gap: 10px;
    -webkit-column-count: 6;
    -webkit-column-gap: 10px;
    column-count: 6;
    column-gap: 10px;
    column-width: 300px;
    width:1000px;
	margin:0 auto;
}
.title {
  position: relative;
  left:690px;
}
.sidebar-follow ul{


 padding-top: 20px;
  padding-right: : 60px;

}
.sidebar-follow  li img {
    width: 50px;
    height: 50px;
    padding-top: 30px;
    margin-right: 100px;
    padding-right: : 50px;

}
.content_box{
	width:300px;
	display: inline-block;
	font-size:12px;
	padding: 10px;
	margin: 5px 5px 5px 0;
	overflow:hidden;
	font-size:15px;
	line-height: 1.5em;
	letter-spacing: 1pt;
	color:#353535;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-right-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-color: #FFFFFF;
}
